<div class="w-full h-full flex flex-col justify-center items-center gap-4 mt-36">
    <div class="w-52 h-52">
        <img draggable="false" src="./../../../assets/img/not-found-error-alert-svgrepo-com.svg"
            alt="صفحه موردنظر یافت نشد..">
    </div>
    <h3 class="font-irXBold text-4xl">صفحه موردنظر یافت نشد:(</h3>
    <button type="button"
        class="bg-c1 hover:bg-[#275fb3] border-2 border-slate-800 my-5 py-2 px-4 text-white text-2xl font-irBold rounded-lg"
        (click)="goBack()">برگشت</button>
</div>